# BDAT1004 - Data Programming : Problem Set 2

# Question 1:
Running and executing the given code and explaining the result

In [49]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

## Explaination:
The Python module defines a global variable a with the value of 0, and two functions b and c. b updates the value of a by calling c with a as an argument, adding 2 to the current value of a. c simply returns the value of a plus 2.
When the module is imported and b is called three times, each call to b updates the value of a by adding 2 to the previous value. The final value of a is 6, which is displayed when the value of a is evaluated.

#  Question 2:
Modify function fileLength() so that a friendly message is printed instead

In [47]:
import os
def fileLength(file_name):
    filename = os.path.basename(file_name)
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print('Length of the file is:', len(contents))
    except:
        print('File {0} not found'.format(filename))
        print('\nPlease enter a valid file name.')
        
fileLength("C:\\Users\\prana\\OneDrive\\Documents\\Filelength.txt")
fileLength('idterm.py')

Length of the file is: 123
File idterm.py not found

Please enter a valid file name.

# Question 3
Creating a class named Marsupial and performing the given task

In [4]:
class Marsupial():
    
    def __init__(self):
        self.myList = []
    
    def put_in_pouch(self, item):
        self.myList.append(item)
    
    def pouch_contents(self):
        print(self.myList)

m = Marsupial()
m.put_in_pouch('doll')            
m.put_in_pouch('firetruck')      
m.put_in_pouch('kitten')         
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord, ycoord):   
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
        
    def setx(self, xcoord):
        self.x = xcoord
        
    def sety(self, ycoord):
        self.y = ycoord
        
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
        return(self.x, self.y)

    def __str__(self):
        return 'I am a Kangaroo locate at coordinates ({}, {})'.format(self.x, self.y)
k = Kangaroo(0,0)
print(k)

I am a Kangaroo locate at coordinates (0, 0)

In [6]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo locate at coordinates (3, 0)

# Question 4
Creating a function collatz() that will take a positive integer as an input and prints the collatz sequence:

In [9]:
def collatz(x):
    if (x == 1):        
        print(1)
    
    elif (x < 1):        
        print("Please enter any positive number.")
        
    elif (x % 2 == 0):    
        print(int(x))     
        x = x/2           
        collatz(x)        
        
    else:                 
        print(int(x))     
        x = (x*3) + 1     
        collatz(x)        
            
x = int(input("Please enter a positive number: "))
collatz(x)

Please enter a positive number: 1
1

In [46]:
x = int(input("Please enter a positive number: "))
collatz(x)

Please enter a positive number: 10
10
5
16
8
4
2
1

# Question 5:
Creating a recursive method binary() which takes a positive integer and returns the binary representation of the input.

In [52]:
def binary(b_num):

    if b_num< 2:
        print(b_num)
    else:
        binary_x=bin(b_num)
        print(binary_x)

In [53]:
binary(0)

0

In [54]:
binary(1)

1

In [55]:
binary(3)

0b11

In [56]:
binary(9)

0b1001

# Question 6:
Having a string containing a HTML code and printing heading from the given code.

In [13]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):

    x = 0      
    y = 0     
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.x = True
        if tag == 'h2':
            self.y = True    
    def handle_data(self, data):
        if self.x == True:
            print(data)
        if self.y == True:
            print(' ' + data)
    def handle_endtag(self, tag):
        if tag == 'h1':
            self.x = False
        if tag == 'h2':
            self.y = False
            

infile = open("C:\\Users\\prana\\Downloads\\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implementing recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL.

In [18]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkAppender(HTMLParser):
    def __init__(self, url):
        super().__init__()
        self.url = url
        self.links = []

    def append_links(self):
        return self.links

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    link = urljoin(self.url, attr[1])
                    if link not in self.links and link.startswith('http'):
                        self.links.append(link)

def print_webdir(url, depth, indent=0):
    if depth < 0:
        return
    print(' ' * indent + url)
    response = urlopen(url)
    content = response.read().decode()
    parser = LinkAppender(url)
    parser.feed(content)
    links = parser.append_links()
    for link in links:
        print_webdir(link, depth - 1, indent + 4)

print_webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    http://reed.cs.depaul.edu/lperkovic/test3.html
        http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8:
## SQL queries on the given database table that returns:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [23]:
import sqlite3
x = sqlite3.connect('tempInfo.db')
table = x.cursor()
table.execute("CREATE TABLE IF NOT EXISTS tempInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
table.execute("INSERT INTO tempInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
table.execute("INSERT INTO tempInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
table.execute("INSERT INTO tempInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

table.execute('SELECT * FROM tempInfo')
table.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [25]:
#a) Extracting all the temperature data :
table.execute("SELECT Temperature FROM tempInfo")
for i in table:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [27]:
#b) Extracting all the cities, but without repetition :
table.execute("SELECT DISTINCT City FROM tempInfo")
for i in table:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

In [28]:
#c) Extracting all the records for India :
table.execute("SELECT * FROM tempInfo WHERE Country='India'")
for i in table:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [30]:
#d) Extracting all Fall records :
table.execute("SELECT * FROM tempInfo WHERE Season='Fall'")
for i in table:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kindom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [31]:
#e) Extracting cities, countries and seasons whose average rainfall is between 200 and 400 millimeters :
table.execute("SELECT City,Country,Season FROM tempInfo WHERE Rainfall>200 AND Rainfall<400")
for i in table:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kindom', 'Winter')
('London', 'United Kindom', 'Fall')

In [32]:
#f) Extracting cities and countries whose average Fall temperature is above 20 and that too in increasing temperature order :
table.execute("SELECT City,Country FROM tempInfo WHERE Season='Fall' AND Temperature>20 ORDER BY Temperature ASC")
for i in table:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [33]:
#g) Calculating the total annual rainfall for Cairo :
table.execute("SELECT SUM(Rainfall) FROM tempInfo WHERE City='Cairo'")
for i in table:
    print(i)

(27.6,)

In [34]:
#h) Calculating the total Rainfall for each season :
table.execute("SELECT Season, SUM(Rainfall) FROM tempInfo GROUP BY Season;")
for i in table:
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# 9)Listing the comprehension expressions by using the given list of words :

In [35]:
list = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
print(list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [36]:
#a)Converting the list to upper case :
upper_case = [.upper() for upr_wrd in list]
print(upper_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [39]:
#b) Converting the list to lower case :
lower_case = [word.lower() for word in list]
print(lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:
#c) Counting length of each word in the list :
length = [len(word) for word in list]
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [44]:
#d) Converting each word into upper case, lower case and counting the length of each word provided in the list :
allInOne = [(word.upper(),word.lower(),len(word)) for word in list]
print(allInOne)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [45]:
#e) Extracting the words from the list whose length is greater than 4 :
aboveFour = [word for word in list if len(word)>=4]
print(aboveFour)

['quick', 'brown', 'jumps', 'over', 'lazy']